<div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="letras">Tarjetería</mat-card-title>
    <mat-card-subtitle>Tarjetas españolas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Foto vista Tarjetería">
  <mat-card-content>
    <p>
      Bellisimas tarjetas españolas para todo tipo de eventos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="letras">+ Ver mas</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="letras">Souvenires</mat-card-title>
    <mat-card-subtitle>Para todo tipo de eventos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Foto vista Souvenires">
  <mat-card-content>
    <p>
      ¡Souvenires para todos tus eventos!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="letras">+ Ver mas</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="letras">Otros</mat-card-title>
    <mat-card-subtitle>Trabajos varios</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Foto vista Otros">
  <mat-card-content>
    <p>
      Diferentes trabajos realizados por pedidos especiales.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="letras">+ Ver mas</button>
  </mat-card-actions>
</mat-card>
</div>
