<br>
<div align="center" class="letrasSize" >

  <mat-form-field appearance="legacy">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Fred" maxlength="10" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Weasley" maxlength="10" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Mail</mat-label>
    <input matInput placeholder="fredweasley@hogwarts.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
     </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color="primary" class="icono">Enviar</button>
  <button mat-raised-button type="reset" color="primary" class="icono">Borrar</button>
</div>
